@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  width: 90%;
  margin: 0 auto;
}

.card {
  padding: 20px 24px;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #fff;
  box-shadow: 5px 16px 30px 0px rgba(0, 0, 0, 0.08);
}

.card-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-head h2 {
  color: #eb3131;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background: rgba(235, 49, 49, 0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.card-head img {
  width: 20px;
  height: 20px;
  border-radius: 200px;
  background: rgba(65, 61, 238, 0.08);
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.card-body {
}

.card-body img {
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

.card-body-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body-bottom button {
  color: #413dee;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background: rgba(65, 61, 238, 0.1);
  padding: 10px;
  border: none;
  transition: 0.7s;
  cursor: pointer;
  margin-block: 20px;
}

.card-body-bottom button:hover {
  color: #9e9eca;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background: rgba(24, 23, 85, 0.83);
  padding: 10px;
  border: none;
}

.card-body-bottom p {
  color: #141414;
  font-family: Heldane Display;
  font-size: 20px;
  font-weight: 700;
}

.card-footer {
}

.card-footer .card-text p {
  color: #101828;
  font-family: Heldane Display;
  font-size: 24px;
  font-weight: 400;
}

.card-footer-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.addBtn {
  color: #020e27;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s;
}

.addBtn:hover {
  color: #ffffff;
  background-color: #505050;
}

.buyBtn {
  width: 180px;
  height: 60px;
  border-radius: 8px;
  background: #413dee;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  transition: 0.7s;
  cursor: pointer;
}

.buyBtn:hover {
  background: #0e0e3e;
}

/* CSS */
.button-69 {
  background-color: initial;

  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 130px;
}

.button-69:hover {
  opacity: 0.7;
}

.favorite {
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
}
.unfavorite {
  background-image: linear-gradient(#14f4f8 0, #0be0bc 100%);
  color: #000;
}

@media screen and (max-width: 1000px) {
  .button-69 {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
