.subscribe-section {
  display: flex;
  flex-direction: column;
  padding: 98px 253px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #413dee;
  width: 80%;
  margin: 0 auto;
  margin-block: 100px;
}

.subscribe-section h1 {
  color: #fff;
  font-family: Heldane Display;
  font-size: 50px;
  font-weight: 400;
}

.subscribe-section p {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.sub-input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-input-section input {
  border-radius: 100px;
  background: #fff;
  padding-block: 23px;
  padding-left: 32px;
  width: 400px;
  border: none;
}

.sub-input-section input::placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
}

.sub-input-section button {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 45px;
  border-radius: 100px;
  background: #413dee;
  border: none;
  margin-left: -165px;
  height: 55px;
  cursor: pointer;
  transition: 0.7s;
}

.sub-input-section button:hover {
  background: #0e0e3e;
}
